@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* border: 1px solid; */
    list-style: none;
}

:root {
    font-size: 48px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    height: 80px;
    padding: 0% 6.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    height: 36px;
    width: 36px;
}

.menudesktop {
    width: 480px;
}

.menud {
    display: flex;
    justify-content: space-between;
}

.menud li {
    display: flex;
    align-items: center;
}

.menud li a {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.33rem;
    color: #060A24;
    font-weight: 500;
}

.menud li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.menud li a:active {
    color: #060a2456;
    text-decoration: line-through;
}

.menu-mobile {
    display: none;
}

.hello {
    padding: 120px 13.9% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.huno {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 1.33rem;
    font-weight: 400;
    width: 100%;
}

h1 :nth-child(2) {
    color: #0000EC;
}

.pe1 {
    width: 70%;
    color: #060A24;
    font-size: 0.33rem;
    font-family: 'IBM Plex Mono', monospace;
}

.pe1m {
    display: none;
}

.boton {
    border: none;
    background-color: #00F3BB;
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 0.375rem;
    color: #060A24 ;
}

.boton a:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.cmas {
    width: 226px;
    margin-top: 56px;
    line-height: 56px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    color: #060A24;
    font-weight: 400;
}

.epis {
    height: 1042.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
    padding: 0 6.9%;
}

.epis h2 {
    color: #FFFFFF;
    padding: 186px 0 26px 7%
    
}

.spo {
    display: flex;
    
}

.spo div {
    padding: 0px 3% 3%;
    width: 100%;
}

.nosotros {
    padding: 0px 13.9%;
    display: flex;
    margin-top: -180px;
}

.cont2 {
    width: 50%;
    margin-top: 180px;
}

.cont2 h2 {
    padding-bottom: 24px;
}
.cont2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.cont2 div p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.33rem;
    line-height: 24px;
    color: #060A24;
    padding-bottom: 16px;
}

.cel {
    width: 50%;
    position: relative;
}

.cell1 {
    object-fit: contain;
    width: 80%;
}

.interview {
    display: flex;
    flex-direction: column;
}

.interview h2{
    padding: 60px 13.9% 36px;
}

.bwimg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bwimg>img {
    width: 33.33%;
    object-fit: contain;
}

.topicos{
    padding: 64px 13.9% 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topicos h2 {
    padding-bottom: 56px;
}


.container3{
    display: flex;
}

.container3 div{
    height: 180px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container3 div img {
    width: 104px;
    height: 104px;
}

.container3 div h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 0.5rem;
    text-align: center;
    padding: 16px;
}
.novedades {
    height: 518px;
    clip-path: polygon(0 25%, 100% 1%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.novedades h2 {
    color: #FFFFFF;
    padding-bottom: 36px;
}

.escucha {
    width: 345px;
}

footer {
    height: 95px;
    padding: 36px 6.9% 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 0.33rem;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

footer a {
    font-size: 0.375rem;
    color: #060A24;
}

footer a:hover {
    color: #00F3BB;
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 36px;
    }

    header {
        height: 44px;
        padding: 0px 5.9% 0px 5%;
    }

    header div img {
        height: 24px;
        width: 24px;
    }

    .menud {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .custom-check {
        display: none;
    }

    .mobileul {
        position: fixed;
        width: 100%;
        top: 44px;
        left: 0px;
        transition: all 1s ease;
        transform: translateX(100vw);
    }
    
    .menu-mobile ul li {
        height: 56px;
        padding-left: 16px;
        line-height: 56px;
        background-color: #0000EC;
    }

    .menu-mobile li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.44rem;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 500;
    }

    .menu-mobile li a:hover{
        color: #00F3BB;
        text-decoration: line-through;
    }

    .label-burger {
        width: 18px;
        height: 15px;
        align-items: center;
    }

    .label-burger span {
        display: block;
    }

    .linea {
        width: 20px;
        height: 4px;
        background-color: #060A24;
        margin-bottom: 3px;
        transition: all 1s ease;
        transform-origin: left;
    }

    #menu-hamburguesa:checked + label .top {
        transform: rotate(45deg);
    }

    #menu-hamburguesa:checked + label .middle {
        background-color: white;
    }

    #menu-hamburguesa:checked + label .bottom {
        transform: rotate(-45deg);
    }

    #menu-hamburguesa:checked ~ .mobileul {
        transform: translateX(0);
    }

    .menu-mobile input:checked ~ ul {
        display: block;
        list-style: none;
    }

    .menu-mobile input:not(:checked) ~ ul {
        display: none;
    }

    .hello{
        padding: 29px 5% 0px;
    }

    h1 {
        font-size: 1rem;
        width: 90%;
        padding-bottom: 16px;
    }

    h1 :nth-child(2) {
        color: black;
    }

    .pe1 {
        display: none;
    }

    .pe1m {
        display: flex;
        width: 100%;
        color: #060A24;
        font-size: 0.33rem;
        font-family: 'IBM Plex Mono', monospace;
    }

    .cmas {
        width: 100%;
        margin-bottom: 24px;
    }

    .epis {
        height: 1203.5px;
        padding: 0 3.4%;
        clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0 100%);
    }

    .epis h2 {
        padding: 64px 1.6% 21px;
    }

    .spo {
        flex-wrap: wrap;
    }

    .spo div {
        padding: 0px;
    }

    .nosotros {
        padding: 0px 5%;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
    }

    .cel {
        width: 100vw;
        max-width: 320px;
        top: 4px;
        margin-bottom: -60px;
    }

    .cell1 {
        width: 100%;
    }

    .cont2 {
        width: 100%;
        margin-top: 80px;
    }

    .cont2 h2 {
        padding-bottom: 8px;
    }

    .cont2 div {
        width: 100%;
    }

    .interview h2 {
        padding: 54px 5% 14px;
    }

    .bwimg>img {
        width: 100%;
    }

    .topicos {
        padding: 48px 5% 0px;
    }

    .topicos h2 {
        padding-bottom: 24px;
    }

    .container3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container3 div {
        height: 194px;
        width: 100%;
    }

    .novedades {
        height: 341px;
        padding: 0px 5%;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
    }

    .novedades h2{
        text-align: center;
    }

    .escucha {
        height: 48px;
        width: 288px;
        font-size: 0.44rem;
        line-height: 48px;
    }

    footer {
        height: 121px;
        padding: 0 14% 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    footer p{
        font-size: 0.388rem;
    }

    footer div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}